/**
 * Reset some basic elements
 */


@mixin shine ($highlight,$color) {
	background-image: repeating-linear-gradient(80deg,mix($highlight,$color),
											$highlight 30%, 
											$color,
											$highlight 45%,
											mix($highlight,$color),
											$highlight 55%,
											$color,
											$highlight 70%,
											mix($highlight,$color));
    background-size: 200vw 200vh;										
	background-clip: text;
	-webkit-text-fill-color: transparent;
	color: transparent;
	
	@media (pointer:coarse) {
		transition: 0.3s;		
	}
}

.shine {
	@include shine(lightpink,#777)
}

body {
		
	background-image: radial-gradient(circle at 50% 50%, desaturate(teal,25%), hotpink);
	background-position: -30vw -30vh;
	background-size: 200vw 200vh;
	
	a.shine,a.shine:hover {
		@include shine(skyblue,white);
		color: black;
	}
	.button {
		a.shine,a.shine:hover {
			line-height: 3em;
			padding: 5px;
			margin-top: 5px;
			border: thin solid white;
			border-radius: 3px;
		}
	}
	
	main {
	
		h1.shine,th.shine {
			@include shine(teal,white);
		}
	
		table {
			border: none;
			tr,th,td { 
				background-color: transparent !important; 
			}
			td,th {
				border-color: pink;
			}
		}
	
		li { @extend h1; list-style-type: '+ '; }
	
		img { opacity: 0.5; transition: 0.5s;}

		img:hover { opacity: 1.0;};

		hr { border: none; border-top: thin solid white; }

	}
	
}

#overlay {
	@include shine(white, transparent);
	background-clip: inherit;
	color: auto;
	position:absolute;
	pointer-events: none;
	opacity: 0;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
html { min-height: 100%; position: relative;}

@mixin animation($duration) {
	$name: #{unique-id()};
	
	@keyframes #{$name} {
		@content
	}
	
	animation-name: $name;
	animation-duration: $duration;
}
