/**
 * Reset some basic elements
 */

$pink: desaturate(pink,60%);
$blue: lightskyblue;

@mixin shine ($highlight,$color) {
	background-image: linear-gradient(80deg,mix($highlight,$color),
											$highlight 30%, 
											$color,
											$highlight 45%,
											mix($highlight,$color),
											$highlight 55%,
											$color,
											$highlight 70%,
											mix($highlight,$color));
    background-size: 200vw 200vh;										
	background-clip: text;
	-webkit-text-fill-color: rgba(0,0,0,0);
	color: transparent;
}

.shine {
	@include shine($blue,black)
}

body {
	background-image: radial-gradient(circle at 50% 50%, white, $pink);
	background-position: -30vw -30vh;
	background-size: 200vw 200vh;
	
	a.shine,a.shine:hover {
		@include shine(black,lighten(#f43,10%));
		color: black;
	}
	
	table tr { background-color: transparent !important; }
	
}
#overlay {
	@include shine(white, transparent)
	background-clip: inherit;
	color: auto;
	position:absolute;
	pointer-events: none;
	opacity: 0.15;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
html { min-height: 100%; position: relative;}
